---
- name: "Include OS-specific variables"
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"

- name: "Update apt cache"
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: "Ensure Apache is installed"
  ansible.builtin.package:
    name: "{{ apache_package }}"
    state: present

- name: "Copy a web page"
  ansible.builtin.copy:
    content: |
      <html>
      <head><title>Hello world!</title></head>
      <body>Hello world!</body>
      </html>
    dest: "/var/www/html/index.html"
    mode: "0644"
  notify: Restart apache

- name: "Ensure Apache is running and starts at boot"
  ansible.builtin.service:
    name: "{{ apache_service }}"
    state: started
    enabled: true
